.techContainer {
  @apply relative rounded-lg bg-neutral/10 px-6 py-8 transition-all hover:shadow-2xl hover:shadow-[var(--shadow)];
}

.techContainer::before {
  @apply absolute left-0 top-0 h-full w-full rounded-lg opacity-50 content-[''];
  background-image: url(/noisy.webp);
}

.techContainer[data-doublespan="true"] {
  @apply md:col-span-2;
}

.techHeader {
  @apply mb-5 text-center text-2xl font-semibold text-primary sm:text-3xl;
}

.techList {
  @apply grid grid-cols-3 place-items-center gap-x-8 gap-y-12;
}

.techList[data-doublespan="true"] {
  @apply md:grid-cols-6;
}

.techItem::after {
  @apply absolute -z-[1] rounded-2xl transition-all duration-500 content-[''];
  box-shadow: 0 0 35px 18px var(--bgColor);
}

.techItem:hover::after {
  box-shadow: 0 0 35px 28px var(--bgColor);
}

.techItem {
  @apply relative grid w-fit place-items-center rounded-2xl border border-transparent transition-colors duration-500;
}

.techItem:hover {
  border-color: var(--bgColor);
}

.iconWrap {
  @apply tooltip relative size-16 p-4;
}

.iconWrap::before {
  @apply border bg-base-100/30;
  backdrop-filter: blur(10px);
  border-color: var(--bgColor);
  color: var(--bgColor);
}

.iconWrap svg {
  @apply size-8;
}
