@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply p-0 m-0 box-border;
}

html::after,
html::before {
  content: "";
  @apply will-change-transform h-full w-2.5 sm:w-5 fixed top-0 bg-base-300;
}

html::after {
  right: 0;
}

body {
  @apply p-2.5 relative sm:p-5;
}

body::before,
body::after {
  content: "";
  @apply fixed top-0 left-0 w-full h-2.5 bg-base-300 z-[20000] sm:h-5;
}

body::after {
  @apply top-auto bottom-0;
}

/* Scrollbar and selection */

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-3xl shadow-md border-4 border-transparent;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

::selection {
  @apply text-primary-content bg-primary;
}

/* Utility classes */

.set-height {
  @apply max-h-[calc(100vh-20px)] sm:max-h-[calc(100vh-40px)] min-h-[calc(100vh-20px)] sm:min-h-[calc(100vh-40px)];
}

:root {
  /* Body background color */
  /* --body-bg: #7f00e010;
  /* Background color
  --bg: #f4f4f4;
  --pc-light: #c855ff;
  --pc: #b822ff;
  --pc-dark: #680099;
  --sc-light: #f270c3;
  --sc: #eb22a3;
  --sc-dark: #c81287; */
  /* Transition */
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: "Euclid Circular A", sans-serif;
  @apply text-primary;
}
