@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-display: swap;
  @apply text-base-content;
}

*,
*::before,
*::after {
  @apply m-0 box-border p-0;
}

html {
  scroll-behavior: smooth;
}

body {
  scrollbar-gutter: stable both-edges;
}

/* html::after,
html::before {
  content: "";
  @apply fixed top-0 h-full w-2.5 bg-base-300 will-change-transform sm:w-5;
}

html::after {
  right: 0;
}

body::before,
body::after {
  content: "";
  @apply fixed left-0 top-0 z-[20000] h-2.5 w-full bg-base-300 sm:h-5;
}

body::after {
  @apply bottom-0 top-auto;
} */

/* Scrollbar and selection */

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  @apply border-4 border-transparent bg-primary shadow-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

::selection {
  @apply bg-primary text-primary-content;
}

/* Utility classes */

.set-height {
  @apply max-h-[calc(100vh-20px)] min-h-[calc(100vh-20px)] sm:max-h-[calc(100vh-40px)] sm:min-h-[calc(100vh-40px)];
}

.dot {
  @apply font-bold text-accent;
}

.section-header {
  @apply mb-6 flex items-center gap-x-3 text-left text-3xl font-bold text-accent;
}

.background-deco {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23eb22a3' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  @apply absolute left-1/2 top-1/2 h-4/6 w-full opacity-40 md:max-w-[700px];
  transform: translate(-50%, -50%);
}
