#home {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 40px);
}

@media screen and (max-width: 640px) {
  #home {
    min-height: calc(100vh - 20px);
  }
}

.dot {
  color: var(--sc);
}

#presentation {
  @apply flex flex-col-reverse items-center justify-center relative m-0;
  @apply lg:flex-row;
  max-width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 40px);
}

.heading-primary {
  color: var(--pc);
  @apply text-5xl font-thin;
  @apply lg:text-7xl;
}

.heading-primary br {
  @apply hidden;
  @apply lg:block;
}

.heading-primary span {
  @apply font-bold;
}

.heading-paragraph {
  @apply text-2xl mt-8;
  max-width: 500px;
  color: var(--pc);
}

.presentation-svg {
  @apply w-1/2;
  @apply lg:w-1/3;
}

.background-deco {
  background: url(../../assets/background.svg) repeat;
  background-size: 40%;
  @apply absolute -z-10 w-full left-1/2 opacity-25 h-60 max-w-[700px];
  @apply lg:left-3/4;
  transform: translateX(-50%);
}
