.media {
  @apply fixed w-10 bottom-2.5 sm:bottom-5 left-2 sm:left-7 right-auto z-10 text-xl text-primary;
}

.media__ul {
  @apply flex flex-col items-center m-0 p-0 list-none;
}

.media__ul li {
  @apply p-2.5 cursor-pointer;
  transition: var(--transition);
}

.media__ul li:hover {
  transform: translateY(-4px);
}

.media__ul li:hover a {
  @apply text-primary;
}

.media__ul li a {
  @apply relative no-underline text-secondary;
  transition: var(--transition);
}

.media__ul li:last-of-type {
  @apply mb-4;
}

.media__ul::after {
  content: "";
  @apply w-0.5 h-20 bg-secondary;
}
