.nav-wrapper {
  @apply py-4 z-10 absolute w-full;
}

.nav-list {
  @apply list-none flex flex-row items-center justify-center gap-16;
}

.links {
  @apply font-extrabold text-xl;
  color: var(--pc);
}

.menu {
  @apply relative mx-10;
}

.menu-button {
  @apply absolute flex flex-col items-center cursor-pointer justify-center top-0 left-1/2 z-20;
  background: url(../assets/menu.svg);
  background-size: 100%;
  width: 100px;
  height: 55px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  @apply absolute w-5 h-1 rounded-xl inline-block bg-white;
  bottom: 31px;
  transition: var(--transition);
}

.menu-icon::before,
.menu-icon::after {
  @apply absolute left-0 w-5 h-1 bg-white;
  content: '';
}

.menu-icon::before {
  top: -8px;
}

.menu-icon::after {
  top: 8px;
}

.menu-button:hover .menu-icon {
  transform: scale(1.25);
}

.active,
.active::before,
.active::after {
  @apply absolute w-5 h-1 rounded-xl inline-block bg-white;
  bottom: 31px;
  transition: var(--transition);
}

.active {
  @apply bg-transparent;
}

.active::before,
.active::after {
  @apply absolute left-0 w-5 h-1 bg-white;
  content: '';
}

.active::before {
  transform: rotate(135deg);
  top: 0px;
}

.active::after {
  transform: rotate(-135deg);
  top: 0px;
}
