@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply p-0 m-0 box-border;
}

body {
  @apply p-2.5 relative;
  @apply sm:p-5;
  min-height: calc(100vh - 40px);
  background-color: var(--body-bg);
}

@media screen and (max-width: 640px) {
  body {
    min-height: calc(100vh - 20px);
  }
}

body::before {
  content: "";
  @apply fixed top-0 left-0 w-full h-2.5;
  @apply sm:h-5;
}

body::after {
  content: "";
  @apply fixed bottom-0 left-0 w-full h-2.5;
  @apply sm:h-5;
}
