.media {
  @apply w-10 fixed bottom-2.5 sm:bottom-5 left-2 sm:left-10 right-auto z-10 text-xl;
  color: var(--pc);
}

.media__ul {
  @apply flex flex-col items-center m-0 p-0 list-none;
}

.media__ul li {
  @apply p-2.5 cursor-pointer;
  transition: var(--transition);
}

.media__ul li:hover {
  transform: translateY(-4px);
}

.media__ul li:hover a {
  color: var(--pc-light);
}

.media__ul li a {
  @apply relative no-underline;
  color: var(--sc-light);
  transition: var(--transition);
}

.media__ul li:last-of-type {
  @apply mb-5;
}

.media__ul::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: var(--sc-light);
}
